<?xml version="1.0" ?>

<launch>

    <arg name="gdb"                default="false"/>
    <arg name="estimate_contacts" default="false"/>
    <arg name="publish_tftopic" default="false"/>

    <group if="$(arg gdb)">
	    <node pkg="base_estimation" type="base_estimation_node" name="centauro_base_estimation" output="screen" launch-prefix="gnome-terminal -- gdb -e run --args">
		<param name="ik_problem" textfile="$(find base_estimation)/config/centauro_base_estimation.stack"/>
		<param name="rate" value="500.0"/>
                <param name="contact_attach_thr" value="360.0"/>
                <param name="velocity_filter/omega" value="100.0"/>
                <param name="contact_release_thr" value="140.0"/>

		<param name="surface_contacts/contact_1" value="contact_1"/>
		<param name="surface_contacts/contact_2" value="contact_2"/>
		<param name="surface_contacts/contact_3" value="contact_3"/>
		<param name="surface_contacts/contact_4" value="contact_4"/>

		<param name="use_imu" value="true"/>

		<param name="estimate_contacts" value="$(arg estimate_contacts)"/>
		<param name="publish_tftopic" value="$(arg publish_tftopic)"/>

		<remap from="/robot_description" to="/xbotcore/robot_description"/>
		<remap from="/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>
	    </node>
    </group>
    
	<group unless="$(arg gdb)">
	    <node pkg="base_estimation" type="base_estimation_node" name="centauro_base_estimation" output="screen">
		<param name="ik_problem" textfile="$(find base_estimation)/config/centauro_base_estimation.stack"/>
		<param name="rate" value="500.0"/>
                <param name="contact_attach_thr" value="360.0"/>
		<param name="velocity_filter/omega" value="100.0"/>
                <param name="contact_release_thr" value="140.0"/>

		<param name="surface_contacts/contact_1" value="contact_1"/>
		<param name="surface_contacts/contact_2" value="contact_2"/>
		<param name="surface_contacts/contact_3" value="contact_3"/>
		<param name="surface_contacts/contact_4" value="contact_4"/>

		<param name="use_imu" value="true"/>

		<param name="estimate_contacts" value="$(arg estimate_contacts)"/>
		<param name="publish_tftopic" value="$(arg publish_tftopic)"/>

		<remap from="/robot_description" to="/xbotcore/robot_description"/>
		<remap from="/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>
	    </node>
    </group>

</launch>
