<launch>

<node pkg="base_estimation"
        type="base_estimation_node"
        name="centauro_base_estimation"
        output="screen">

    <param name="ik_problem" textfile="$(find base_estimation)/config/centauro_base_estimation.stack"/>
    <param name="rate" value="200.0"/>
    <param name="contact_attach_thr" value="100.0"/>
    <param name="contact_release_thr" value="50.0"/>
    <param name="rolling_contacts/contact_1" value="wheel_1"/>
    <param name="rolling_contacts/contact_2" value="wheel_2"/>
    <param name="rolling_contacts/contact_3" value="wheel_3"/>
    <param name="rolling_contacts/contact_4" value="wheel_4"/>
    <param name="use_imu" value="true"/>

    <param name="robot_description" 
        textfile="$(find centauro_urdf)/urdf/centauro.urdf"/>
    
    <param name="robot_description_semantic"
        textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>

</node>

</launch>
